
#head
{
  font-family:Anton;
  font-size: 40px;
  background-color:#45a29e;
}
#about
{
  border: 2px solid #45a29e;
  margin-top:500px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 20px;
}
.boxes
{
  margin-top:100px;

  border: 2px solid #45a29e;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 20px;
}
#text
{
  font-family: monospace;
}


header {
    float: left;
   
    
    width: 100%;
background-image:url('../assets/images/ny.jpg');
    
    
    
  }





