body{
margin:0;
background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("https://www.roberthalf.com/sites/default/files/styles/blog_image/public/Media_Root/images/blog-tcg/creative-team-meeting-tcg-04-2017.jpg?itok=bURDWsF1");
background-position: 0 -50px;
background-size: 100% 300px;
padding: 30px 20px 20px 20px;
background-repeat: no-repeat;
font-family:Righteous;
font-size:20px;
color:white;
}
h1{
	border-bottom: 1px solid white;
}
h2
{
	font-size: 20px;
	border-bottom: 1px solid red;
	color:#111;
}
p{
	font-size:30px;
	color:black;
	border-bottom: 2px red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left:0%;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

#welcome
{
	text-align: center;
	padding: 2%  2% 2% 2%;
	margin: 2% 2% 2% 2%;
	color: black;
	background-color: #ff4d4d;
}

#houses
{
	text-align: center;
	padding: 2%  2% 2% 2%;
	margin: 2% 2% 2% 2%;
}

#heading
{
	font-size: 300%;
	text-align: center;

}

#images
{
	padding: 5% 10% 5% 10%;
	width: 100px;
}
